header{
  font-family: "Croissant one", cursive;
  display: grid;
  grid-template-columns: repeat(1,1fr);
  justify-items: center;
  align-items: center;
  border-bottom: 2px solid ;
  background-color: #000;
  color: #e06c9f;
  height: 15rem;
}

.a{
  text-decoration: none;
  border: 1px solid #00d9c0;
  color: #00d9c0;
  padding: 0.5em;
  
}

body{
  margin-left: auto;
  margin-right: auto;
  border-left: 16px solid white;
  border-right: 16px solid white;
  font-family: "Outfit", sans-serif;
  background-position: center;
  background-repeat: no-repeat;
}



form{
  background-color:#e06c9f ;
  border-radius: 6px ;
  
}

label{
  font-size: 1em;
}

input{
  margin-left:0.20rem;
  border-top: 3px #e06c9f;
  border-bottom: 2px  #e06c9f;
  border-left:1px #e06c9f;
  border-right: 1px #e06c9f;
  font-size: 1rem;
}

p{
  font-size: 1rem;
}

footer{
  
}

@media (min-widht:360px)and(max-width: 1024px;){
  header:widht 100%;
  form:widht 100%;
  
}
}