* {
    margin: 0;
  }

header {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  justify-items: center;
  align-items: center;
  background-color: #000;
  color: #e06c9f;
  height: 8rem;
}

.a {
  text-decoration: none;
  border: 1px solid #00d9c0;
  color: #00d9c0;
  padding: 0.5em;
}

body {
  margin-left: auto;
  margin-right: auto;
  width: 80%;
  border-left: 1px solid;
  border-right: 1px solid;
  /*Tenta retirar este aqui, o formulário esta passando da porcentagem da tela*/
  font-family: "Outfit", sans-serif;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

#logonav {
  width: 6em;
}

.container {
    width: 100%;
    height: 30rem;
}
h3{
    font-family:'Outfit',sans-serif; 
    font-size: 1.875rem;
}

form {
  background-color: pink;
  max-width: 62.5rem;
  width: 250rem;
  height: 150rem;
  padding: 3.75rem;
  margin: 11.25rem;
  border-radius: 0.9375;
}


.input-single {
  position: relative;
  margin: 0.625rem 0rem;
}

.input-single label {
  position: absolute;
  left: 0;
  bottom: 0.3125;

  cursor: text;
}
.input{
    width: 100%;
    border: 0;
    border-bottom: 2px solid #ccc;
    padding: 0.3125;
    font-size: 0.125rem;
    outline: 0rem;
}
form .input-single .input:focus ~ label
form .input-single .input:valid ~ label{
    transform: translateY(-11.875rem);
    font-size: 0.75rem;
   
}

label {
  font-size: 1.5em;
}

p {
  font-size: 1.5em;
}

#abc {
  margin-left: 0.625rem;
}
.bnt {
  width: 6.25rem;
  text-align: center;
}
form input[type="submit"] {
  text-align: center;
  padding: 0.625rem 2.5rem;
  border: 0;
  border-radius: 10px;
  background-color: #00d9c0;
  color: #fff;
  cursor: pointer;
}

#cabecalho-titulo,
#footer-titulo {
  font-size: 2.2em;
}

#footer-div {
  display: flex;
  flex-wrap: wrap;
  width: 20%;
}

footer {
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-around;
  align-items: center;
  background-color: #000;
  border-bottom: 2px solid #000;
  font-weight: bold;
  color: #e06c9f;
  height: 8rem;
  margin-top: 50px;
}

@media (max-width: 48rem) {
  .col {
    width: 100%;
  }
}
